@model Category


<h2>Add New Category</h2>

@if (TempData["error"] != null)
{
    <div class="alert alert-danger">
        @TempData["error"]
    </div>
}

<form method="post" asp-action="Create">
    <div class="mb-3">
        <label for="Name" class="form-label">Category Name</label>
        <input asp-for="Name" type="text" class="form-control" id="Name" >
        <span class="text-danger" asp-validation-for="Name"></span>
    </div>
    <input type="submit" name="name" value="Add" class="btn btn-outline-primary mt-3" />

</form>